In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from functools import reduce

Read in the data and evaluate what needs to be cleaned

In [2]:
vis1920_i = pd.read_excel('../Data/Vis1920.xlsx')

In [3]:
vis1920_i.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,ACTIVITIES>>,NaN,REST,INN ROOMS,NaN,NaN,CABINS,NaN,NaN,GROUPCAMPS/LODGING,...,TOTAL,CAMPSITES,NaN,NaN,MARINAS,NaN,NaN,NaN,PROGRAMMING,NaN
1,PARKS,VISITORS,GUESTS,AVAIL,SOLD,OCCUP,AVAIL,SOLD,OCCUP,GUESTS,...,GOLFERS,AVAIL,SOLD,OCCUP,AVAIL,SOLD,OCCUP,SWIMMING,HELD,ATTEND
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BICENTENNIAL CAPITOL MALL,39353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,3114
4,BIG CYPRESS TREE,1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

Remove the "Unnamed" header row and make rows at index 0 and 1 the headers.

In [4]:
vis1920= pd.read_excel('../Data/Vis1920.xlsx',skiprows = 1, header=[0,1], sheet_name = 0)
vis1819= pd.read_excel('../Data/Vis1819.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1718= pd.read_excel('../Data/Vis1718.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1617= pd.read_excel('../Data/Vis1617.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1516= pd.read_excel('../Data/Vis1516.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1415= pd.read_excel('../Data/Vis1415.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1314= pd.read_excel('../Data/Vis1314.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)

In [5]:
vis1920.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   (ACTIVITIES>>, PARKS)         58 non-null     object
 1   (ACTIVITIES>>, VISITORS)      57 non-null     float64
 2   (REST, GUESTS)                10 non-null     object
 3   (INN ROOMS, AVAIL)            7 non-null      object
 4   (INN ROOMS, SOLD)             8 non-null      float64
 5   (INN ROOMS, OCCUP)            6 non-null      object
 6   (CABINS, AVAIL)               22 non-null     float64
 7   (CABINS, SOLD)                23 non-null     float64
 8   (CABINS, OCCUP)               24 non-null     object
 9   (GROUPCAMPS/LODGING, GUESTS)  24 non-null     float64
 10  (GROUPCAMPS/LODGING, AVAIL)   24 non-null     float64
 11  (GROUPCAMPS/LODGING, SOLD)    24 non-null     float64
 12  (GROUPCAMPS/LODGING, OCCUP)   24 non-null     float64
 13  (TOTAL, GOLFERS)              10 non-null     float64
 14  (CAMPSITES, AVAIL)            38 non-null     float64
 15  (CAMPSITES, SOLD)             39 non-null     float64
 16  (CAMPSITES, OCCUP)            38 non-null     float64
 17  (MARINAS, AVAIL)              4 non-null      float64
 18  (MARINAS, SOLD)               5 non-null      float64
 19  (MARINAS, OCCUP)              4 non-null      float64
 20  (MARINAS, SWIMMING)           17 non-null     object
 21  (PROGRAMMING, HELD)           57 non-null     float64
 22  (PROGRAMMING, ATTEND)         57 non-null     float64
dtypes: float64(17), object(6)
memory usage: 10.5+ KB

In [6]:
vis1920

                 ACTIVITIES>>               REST INN ROOMS                     \
                        PARKS   VISITORS  GUESTS     AVAIL     SOLD     OCCUP
0   BICENTENNIAL CAPITOL MALL    39353.0     NaN       NaN      NaN       NaN
1            BIG CYPRESS TREE     1690.0     NaN       NaN      NaN       NaN
2               BIG HILL POND    12680.0     NaN       NaN      NaN       NaN
3                   BIG RIDGE   132976.0     NaN       NaN      NaN       NaN
4               BLEDSOE CREEK    60416.0     NaN       NaN      NaN       NaN
5        BOOKER T. WASHINGTON    19950.0     NaN       NaN      NaN       NaN
6               BURGESS FALLS    20782.0     NaN       NaN      NaN       NaN
7           CEDARS OF LEBANON   136981.0     NaN       NaN      NaN       NaN
8                   CHICKASAW    30653.0     NaN       NaN      NaN
9     CORDELL HULL BIRTHPLACE     3000.0     NaN       NaN      NaN       NaN
10                  COVE LAKE    57626.0     NaN       NaN      NaN       NaN
11        CUMBERLAND MOUNTAIN   112150.0   10043       NaN      NaN       NaN
12          CUMBERLAND TRAILS    11064.0     NaN       NaN      NaN       NaN
13              CUMMINS FALLS    70090.0     NaN       NaN      NaN       NaN
14  DAVID CROCKETT BIRTHPLACE    46782.0     NaN       NaN      NaN       NaN
15            DAVID CROCKETT     64582.0    3089       NaN      NaN       NaN
16                DUNBAR CAVE    66272.0     NaN       NaN      NaN       NaN
17                EDGAR EVINS    45904.0     NaN       NaN      NaN       NaN
18           FALL CREEK FALLS   151443.0  closed    closed      0.0       NaN
19               FORT LOUDOUN    18108.0     NaN       NaN      NaN       NaN
20                FORT PILLOW    38183.0     NaN       NaN      NaN       NaN
21                FROZEN HEAD    12987.0     NaN       NaN      NaN       NaN
22       HARPETH SCENIC RIVER    96916.0     NaN       NaN      NaN       NaN
23               HARRISON BAY    27101.0     NaN       NaN      NaN       NaN
24               HENRY HORTON   114780.0    2089      2232    313.0  0.140233
25             HIWASSEE RIVER   685443.0     NaN       NaN      NaN       NaN
26            INDIAN MOUNTAIN    44175.0     NaN       NaN      NaN       NaN
27               JOHNSONVILLE     3914.0     NaN       NaN      NaN       NaN
28                LONG HUNTER   155944.0     NaN       NaN      NaN       NaN
29       MEEMAN-SHELBY FOREST    74650.0     NaN       NaN      NaN       NaN
30            MONTGOMERY BELL   114602.0   16482      3740   1734.0  0.463636
31          MOUSETAIL LANDING    26086.0     NaN       NaN      NaN       NaN
32              NATCHEZ TRACE    74391.0    2984      1350    478.0  0.354074
33     NATHAN BEDFORD FORREST   147907.0     NaN       NaN      NaN       NaN
34                 NORRIS DAM    15879.0     NaN       NaN      NaN       NaN
35             OLD STONE FORT    36128.0     NaN       NaN      NaN       NaN
36              PANTHER CREEK    81669.0     NaN       NaN      NaN       NaN
37              PARIS LANDING   161001.0    3338    closed      0.0       NaN
38                    PICKETT    65822.0     NaN       NaN      NaN       NaN
39           PICKWICK LANDING   152141.0    6510      3844   2180.0  0.567118
40              PINSON MOUNDS     7742.0     NaN       NaN      NaN       NaN
41                 PORT ROYAL    31608.0     NaN       NaN      NaN       NaN
42                RADNOR LAKE   109994.0     NaN       NaN      NaN       NaN
43                   RED CLAY    20688.0     NaN       NaN      NaN       NaN
44              REELFOOT LAKE   166014.0     NaN       NaN      NaN       NaN
45              ROAN MOUNTAIN   131240.0     NaN       NaN      NaN       NaN
46                ROCK ISLAND    66779.0     NaN       NaN      NaN       NaN
47                 ROCKY FORK     4207.0     NaN       NaN      NaN       NaN
48     SERGEANT ALVIN C. YORK    40505.0     NaN       NaN      NaN       NaN
49              SEVEN ISLANDS     8250.0     NaN       NaN      NaN       NaN
50          SOUTH CUMBERLAND     46222.0     NaN       NaN      NaN       NaN
51             STANDING STONE    54109.0     NaN       NaN      NaN       NaN
52            SYCAMORE SHOALS    32875.0     NaN       NaN      NaN       NaN
53               T. O. FULLER   100215.0     NaN       NaN      NaN       NaN
54                 TIM'S FORD    95156.0     NaN       NaN      NaN       NaN
55             WARRIORS' PATH   316013.0     NaN       NaN      NaN       NaN
56                    TOTALS:  4463838.0   44535     11166   4705.0  0.421368
57                    GUESTS:        NaN               NaN  11762.5       NaN

     CABINS                    GROUPCAMPS/LODGING  ...    TOTAL CAMPSITES  \
      AVAIL     SOLD     OCCUP             GUESTS  ...  GOLFERS     AVAIL
0       NaN      NaN       NaN                NaN  ...      NaN       NaN
1       NaN      NaN       NaN                NaN  ...      NaN       NaN
2       NaN      NaN                          NaN  ...      NaN     961.0
3     604.0    446.0  0.738411             2160.0  ...      NaN    1627.0
4       NaN      NaN       NaN                0.0  ...      NaN    1920.0
5       NaN      NaN       NaN             2432.0  ...      NaN       NaN
6       NaN      NaN       NaN                NaN  ...      NaN       NaN
7     309.0    211.0  0.682848              850.0  ...      NaN    3590.0
8     403.0    310.0  0.769231             3267.0  ...      NaN    3503.0
9       NaN      NaN       NaN                NaN  ...      NaN       NaN
10      NaN      NaN       NaN                NaN  ...      NaN    3085.0
11    837.0    645.0  0.770609                NaN  ...   2025.0    4338.0
12      NaN      NaN       NaN                NaN  ...      NaN       NaN
13      NaN      NaN       NaN                NaN  ...      NaN       NaN
14      NaN      NaN       NaN                NaN  ...      NaN    2511.0
15    217.0    188.0  0.866359                NaN  ...      NaN    3337.0
16      NaN      NaN       NaN                NaN  ...      NaN       NaN
17    916.0    791.0  0.863537                NaN  ...      NaN    2074.0
18    886.0    823.0  0.928894             7039.0  ...   1085.0    8171.0
19      NaN      NaN       NaN                NaN  ...      NaN       NaN
20      NaN      NaN       NaN                0.0  ...      NaN     961.0
21      NaN      NaN       NaN                NaN  ...      NaN    1178.0
22      NaN      NaN       NaN                NaN  ...      NaN       NaN
23      NaN      NaN       NaN               50.0  ...   2615.0    4952.0
24    248.0    160.0  0.645161                0.0  ...   2452.0    2448.0
25      NaN      NaN       NaN             4550.0  ...      NaN    1457.0
26      NaN      NaN       NaN                NaN  ...      NaN    1456.0
27      NaN      NaN       NaN                NaN  ...      NaN       NaN
28      NaN      NaN       NaN               85.0  ...      NaN      62.0
29    183.0    135.0  0.737705              600.0  ...      NaN    1491.0
30    248.0    203.0  0.818548             1230.0  ...   3594.0    3472.0
31      NaN      NaN       NaN                0.0  ...      NaN    1519.0
32    965.0    568.0  0.588601              704.0  ...      NaN    5641.0
33    248.0    173.0  0.697581             1280.0  ...      NaN    1581.0
34    899.0    561.0  0.624027                NaN  ...      NaN    2666.0
35      NaN      NaN       NaN                0.0  ...      NaN    1612.0
36      NaN      NaN       NaN                0.0  ...      NaN    1519.0
37    492.0    318.0  0.646341                NaN  ...   2259.0    1767.0
38    581.0    442.0  0.760757             3024.0  ...      NaN     945.0
39    523.0    405.0  0.774379                NaN  ...   1692.0    2573.0
40      NaN      NaN       NaN                0.0  ...      NaN       NaN
41      NaN      NaN       NaN                NaN  ...      NaN       NaN
42      NaN      NaN       NaN                NaN  ...      NaN       NaN
43      NaN      NaN       NaN                NaN  ...      NaN       NaN
44    191.0    111.0  0.581152                NaN  ...      NaN    3457.0
45    921.0    670.0   0.72747             1050.0  ...      NaN    3131.0
46    307.0    271.0  0.882736                NaN  ...      NaN    1860.0
47      NaN      NaN       NaN                NaN  ...      NaN       NaN
48      NaN      NaN       NaN                NaN  ...      NaN       NaN
49      NaN      NaN       NaN                NaN  ...      NaN       NaN
50      NaN      NaN       NaN              300.0  ...      NaN    3410.0
51    648.0    575.0  0.887346                0.0  ...      NaN    1116.0
52      NaN      NaN       NaN                NaN  ...      NaN       NaN
53      NaN      NaN       NaN                NaN  ...      NaN    1356.0
54    620.0    461.0  0.743548                NaN  ...   2270.0    4660.0
55      NaN      NaN       NaN                NaN  ...   3259.0    4113.0
56  11246.0   8467.0   0.75289            28621.0  ...  21251.0   95520.0
57      NaN  29634.5                          NaN  ...      NaN       NaN

                       MARINAS                             PROGRAMMING  \
        SOLD     OCCUP   AVAIL     SOLD     OCCUP SWIMMING        HELD
0        NaN       NaN     NaN      NaN       NaN      NaN        28.0
1        NaN       NaN     NaN      NaN       NaN      NaN         0.0
2       28.0  0.029136     NaN      NaN       NaN      NaN         5.0
3     1074.0  0.660111     NaN      NaN       NaN      NaN         4.0
4     1239.0  0.645312     NaN      NaN       NaN      NaN        10.0
5        NaN       NaN     NaN      NaN       NaN     1483        32.0
6        NaN       NaN     NaN      NaN       NaN      NaN        21.0
7     2116.0  0.589415     NaN      NaN       NaN   closed       151.0
8      998.0  0.284899     NaN      NaN       NaN      NaN        52.0
9        NaN       NaN     NaN      NaN       NaN      NaN         0.0
10    1715.0  0.555916     NaN      NaN       NaN     2531        47.0
11    2400.0  0.553250     NaN      NaN       NaN     4416        90.0
12       NaN       NaN     NaN      NaN       NaN      NaN         9.0
13       NaN       NaN     NaN      NaN       NaN      NaN         0.0
14    1496.0  0.595779     NaN      NaN       NaN     2391        31.0
15    1840.0  0.551393     NaN      NaN       NaN  comment        48.0
16       NaN       NaN     NaN      NaN       NaN      NaN        31.0
17    1001.0  0.482642     NaN      NaN       NaN      NaN        29.0
18    5996.0  0.733815     NaN      NaN       NaN     8443       110.0
19       NaN       NaN     NaN      NaN       NaN      NaN        94.0
20     110.0  0.114464     NaN      NaN       NaN      NaN        60.0
21     424.0  0.359932     NaN      NaN       NaN      NaN        45.0
22       NaN       NaN     NaN      NaN       NaN      NaN         8.0
23    3512.0  0.709208   196.0    186.0  0.948980     2900        10.0
24    1343.0  0.548611     NaN      NaN       NaN     3822        59.0
25     572.0  0.392588     NaN      NaN       NaN      NaN        31.0
26     737.0  0.506181     NaN      NaN       NaN      NaN        50.0
27       NaN       NaN     NaN      NaN       NaN      NaN        29.0
28      24.0  0.387097     NaN      NaN       NaN      NaN        10.0
29     405.0  0.271630     NaN      NaN       NaN      NaN        87.0
30    1982.0  0.570853     NaN      NaN       NaN      NaN       129.0
31     351.0  0.231073     NaN      NaN       NaN      NaN        45.0
32    1758.0  0.311647     NaN      NaN       NaN      NaN        87.0
33     423.0  0.267552     NaN      NaN       NaN      NaN       197.0
34    1112.0  0.417104     NaN      NaN       NaN     2228       177.0
35     703.0  0.436104     NaN      NaN       NaN      NaN        56.0
36    1198.0  0.788677     NaN      NaN       NaN     3188        52.0
37     538.0  0.304471   299.0    245.0  0.819398     1397       115.0
38     327.0  0.346032     NaN      NaN       NaN      NaN       123.0
39     963.0  0.374271  8618.0   7626.0  0.884892      NaN        71.0
40       NaN       NaN     NaN      NaN       NaN      NaN        48.0
41       NaN       NaN     NaN      NaN       NaN      NaN         0.0
42       NaN       NaN     NaN      NaN       NaN      NaN        81.0
43       NaN       NaN     NaN      NaN       NaN      NaN        24.0
44     946.0  0.273648     NaN      NaN       NaN      NaN       143.0
45    2764.0  0.882785     NaN      NaN       NaN     2639        81.0
46    1322.0  0.710753     NaN      NaN       NaN      NaN        70.0
47       NaN       NaN     NaN      NaN       NaN      NaN         0.0
48       NaN       NaN     NaN      NaN       NaN      NaN         0.0
49       NaN       NaN     NaN      NaN       NaN      NaN        19.0
50     672.0  0.197067     NaN      NaN       NaN      NaN        68.0
51     466.0  0.417563     NaN      NaN       NaN     4465        54.0
52       NaN       NaN     NaN      NaN       NaN      NaN       125.0
53     826.0  0.609145     NaN      NaN       NaN      NaN         4.0
54    3295.0  0.707082     NaN      NaN       NaN     3421        50.0
55    2572.0  0.625334     NaN      NaN       NaN     3851       178.0
56   49248.0  0.515578  9113.0   8057.0  0.884122    47175      3178.0
57  172368.0       NaN     NaN  28199.5       NaN      NaN         NaN


     ATTEND
0    3114.0
1       0.0
2     182.0
3      36.0
4     126.0
5    2707.0
6     197.0
7    1005.0
8     767.0
9       0.0
10    378.0
11   1389.0
12    156.0
13      0.0
14   1211.0
15    332.0
16    386.0
17    409.0
18   1861.0
19   3656.0
20   2711.0
21    479.0
22     85.0
23    136.0
24    986.0
25   2600.0
26    500.0
27   4088.0
28    107.0
29    820.0
30   2049.0
31    372.0
32    903.0
33   2463.0
34   5309.0
35   6281.0
36    593.0
37  12122.0
38    831.0
39  16737.0
40    347.0
41      0.0
42   1991.0
43    388.0
44   2486.0
45   1169.0
46    865.0
47      0.0
48      0.0
49    426.0
50    345.0
51    375.0
52   8653.0
53     44.0
54    532.0
55   2371.0
56  98076.0
57      NaN

[58 rows x 23 columns]

Multi-index header works. Now I need to trim the data frame. The data set includes a total row which would throw off my plots so that needs to be trimmed. My initial review will only be for overall visitor totals for 13/14-19/20. Once I see which parks have the most/least attendance I will review how much of a role lodging and marina access play in the visitation numbers. Then compare the park attendance trends to Tennessee's population change for the same time period.

In [7]:
#Trimmed dataframe
#vis1920_c = vis1920[['ACTIVITIES>>']]
vis1920_c = vis1920_c[:-2]
#Used droplevel to clean my header 
#df.columns = df.columns.droplevel()
vis1920_c.columns = vis1920_c.columns.droplevel()
#Updated Visitor datatype from float to int
vis1920_c['VISITORS'] = pd.to_numeric(vis1920_c['VISITORS'], errors ='coerce').astype('Int64')
#vis1920_c
#Sorted values 
# #df.sort_values(by=['col1'])
vis1920_s = vis1920_c.sort_values(['VISITORS'])
#Renamed columns
vis1920_y =vis1920_s.rename(columns={'PARKS':'Park','VISITORS':'Visitors'})
#Considered adding a year column
vis1920_y = vis1920_y.assign(Year='2019/2020')
vis1920_y

                         Park  Visitors       Year
1            BIG CYPRESS TREE      1690  2019/2020
9     CORDELL HULL BIRTHPLACE      3000  2019/2020
27               JOHNSONVILLE      3914  2019/2020
47                 ROCKY FORK      4207  2019/2020
40              PINSON MOUNDS      7742  2019/2020
49              SEVEN ISLANDS      8250  2019/2020
12          CUMBERLAND TRAILS     11064  2019/2020
2               BIG HILL POND     12680  2019/2020
21                FROZEN HEAD     12987  2019/2020
34                 NORRIS DAM     15879  2019/2020
19               FORT LOUDOUN     18108  2019/2020
5        BOOKER T. WASHINGTON     19950  2019/2020
43                   RED CLAY     20688  2019/2020
6               BURGESS FALLS     20782  2019/2020
31          MOUSETAIL LANDING     26086  2019/2020
23               HARRISON BAY     27101  2019/2020
8                   CHICKASAW     30653  2019/2020
41                 PORT ROYAL     31608  2019/2020
52            SYCAMORE SHOALS     32875  2019/2020
35             OLD STONE FORT     36128  2019/2020
20                FORT PILLOW     38183  2019/2020
0   BICENTENNIAL CAPITOL MALL     39353  2019/2020
48     SERGEANT ALVIN C. YORK     40505  2019/2020
26            INDIAN MOUNTAIN     44175  2019/2020
17                EDGAR EVINS     45904  2019/2020
50          SOUTH CUMBERLAND      46222  2019/2020
14  DAVID CROCKETT BIRTHPLACE     46782  2019/2020
51             STANDING STONE     54109  2019/2020
10                  COVE LAKE     57626  2019/2020
4               BLEDSOE CREEK     60416  2019/2020
15            DAVID CROCKETT      64582  2019/2020
38                    PICKETT     65822  2019/2020
16                DUNBAR CAVE     66272  2019/2020
46                ROCK ISLAND     66779  2019/2020
13              CUMMINS FALLS     70090  2019/2020
32              NATCHEZ TRACE     74391  2019/2020
29       MEEMAN-SHELBY FOREST     74650  2019/2020
36              PANTHER CREEK     81669  2019/2020
54                 TIM'S FORD     95156  2019/2020
22       HARPETH SCENIC RIVER     96916  2019/2020
53               T. O. FULLER    100215  2019/2020
42                RADNOR LAKE    109994  2019/2020
11        CUMBERLAND MOUNTAIN    112150  2019/2020
30            MONTGOMERY BELL    114602  2019/2020
24               HENRY HORTON    114780  2019/2020
45              ROAN MOUNTAIN    131240  2019/2020
3                   BIG RIDGE    132976  2019/2020
7           CEDARS OF LEBANON    136981  2019/2020
33     NATHAN BEDFORD FORREST    147907  2019/2020
18           FALL CREEK FALLS    151443  2019/2020
39           PICKWICK LANDING    152141  2019/2020
28                LONG HUNTER    155944  2019/2020
37              PARIS LANDING    161001  2019/2020
44              REELFOOT LAKE    166014  2019/2020
55             WARRIORS' PATH    316013  2019/2020
25             HIWASSEE RIVER    685443  2019/2020

Plot 2019/2020 to review the changes then repeat for the remaining files.

In [8]:
#DataFrame.plot.bar(x=None, y=None, **kwargs)[source]
#vis1920_y.plot.barh( x = 'Park',figsize=(10,20))

Repeat dataframe editting methods.

In [9]:
vis1819_c = vis1819[['ACTIVITIES>>']]
vis1819_c = vis1819_c[:-2]
vis1819_c.columns = vis1819_c.columns.droplevel()
vis1819_c['VISITORS'] = pd.to_numeric(vis1819_c['VISITORS'], errors ='coerce').astype('Int64')
vis1819_s = vis1819_c.sort_values(by=['VISITORS'])
vis1819_y =vis1819_s.rename(columns={'PARKS':'Park','VISITORS':'Visitors'})
vis1819_y = vis1819_y.assign(Year='2018/2019')
#vis1819_y

In [10]:
#vis1819_y.plot.barh( x = 'Park',figsize=(10,20))

In [11]:
merged = pd.merge(vis1920_y, vis1819_y, on="Park")
#merged

In [12]:
# merged.plot.barh( x= 'Park', figsize=(10,10))

In [13]:
vis1718_c = vis1718[['ACTIVITIES>>']]
vis1718_c = vis1718_c[:-2]
vis1718_c.columns = vis1718_c.columns.droplevel()
vis1718_c['VISITORS'] = pd.to_numeric(vis1718_c['VISITORS'], errors ='coerce').astype('Int64')
vis1718_s = vis1718_c.sort_values(by=['VISITORS'])
vis1718_y = vis1718_s.rename(columns={'PARKS':'Park','VISITORS':'Visitors'})
vis1718_y = vis1718_y.assign(Year='2017/2018')
# vis1718_y

In [14]:
vis1617_c = vis1617[['ACTIVITIES>>']]
vis1617_c = vis1617_c[:-2]
vis1617_c.columns = vis1617_c.columns.droplevel()
vis1617_c['VISITORS'] = pd.to_numeric(vis1617_c['VISITORS'], errors ='coerce').astype('Int64')
vis1617_s = vis1617_c.sort_values(by=['VISITORS'])
vis1617_y = vis1617_s.rename(columns={'PARKS':'Park','VISITORS':'Visitors'})
vis1617_y = vis1617_y.assign(Year='2016/2017')
#vis1617_y

In [15]:
vis1516_c = vis1516[['ACTIVITIES>>']]
vis1516_c = vis1516_c[:-2]
vis1516_c.columns = vis1516_c.columns.droplevel()
vis1516_c['VISITORS'] = pd.to_numeric(vis1516_c['VISITORS'], errors ='coerce').astype('Int64')
vis1516_s = vis1516_c.sort_values(by=['VISITORS'])
vis1516_y = vis1516_s.rename(columns={'PARKS':'Park','VISITORS':'Visitors'})
vis1516_y = vis1516_y.assign(Year = '2015/2016')
# vis1516_y

In [16]:
vis1415_c = vis1415[['ACTIVITIES>>']]
vis1415_c = vis1415_c[:-2]
vis1415_c.columns = vis1415_c.columns.droplevel()
vis1415_c['VISITORS'] = pd.to_numeric(vis1415_c['VISITORS'], errors ='coerce').astype('Int64')
vis1415_s = vis1415_c.sort_values(by=['VISITORS'])
vis1415_y =vis1415_s.rename(columns={'PARKS':'Park','VISITORS':'Visitors'})
vis1415_y = vis1415_y.assign(Year = '2014/2015')
# vis1415_y

In [17]:
vis1314_c = vis1314[['ACTIVITIES>>']]
vis1314_c = vis1314_c[:-2]
vis1314_c.columns = vis1314_c.columns.droplevel()
vis1314_c['VISITORS'] = pd.to_numeric(vis1314_c['VISITORS'], errors ='coerce').astype('Int64')
#vis1314_c = vis1314_c.astype({'VISITORS': 'int32'})
vis1314_s = vis1314_c.sort_values(by=['VISITORS'])
vis1314_y =vis1314_s.rename(columns={'PARKS':'Park','VISITORS':'Visitors'})
vis1314_y = vis1314_y.assign(Year = '2013/2014')
# vis1314_y

I attempted to merge, append, and concat the frames together manually. I think a for loop with glob could have read-in, editted the files and put them in one data frame but the manual approach worked just to keep the project moving.

In [18]:
#result = vis1920_y.append(vis1819_y, vis1718_y,vis1617_y, vis1516_y, vis1415_y, vis1314_y)
vis_all = pd.concat([vis1920_y,vis1819_y, vis1718_y,vis1617_y, vis1516_y, vis1415_y, vis1314_y], axis=0)
vis_all

                       Park  Visitors       Year
1          BIG CYPRESS TREE      1690  2019/2020
9   CORDELL HULL BIRTHPLACE      3000  2019/2020
27             JOHNSONVILLE      3914  2019/2020
47               ROCKY FORK      4207  2019/2020
40            PINSON MOUNDS      7742  2019/2020
..                      ...       ...        ...
18         FALL CREEK FALLS    166763  2013/2014
32            NATCHEZ TRACE    180085  2013/2014
25           HIWASSEE RIVER    205293  2013/2014
53           WARRIORS' PATH    209694  2013/2014
37            PARIS LANDING    263290  2013/2014

[390 rows x 3 columns]

In [23]:
vis_all.sort_values(by = ['Visitors'], ascending = [False]).head(10)

              Park  Visitors       Year
25  HIWASSEE RIVER   1345935  2017/2018
25  HIWASSEE RIVER   1153037  2018/2019
25  HIWASSEE RIVER    685443  2019/2020
55  WARRIORS' PATH    375190  2016/2017
25  HIWASSEE RIVER    364145  2014/2015
25  HIWASSEE RIVER    346803  2016/2017
3        BIG RIDGE    334688  2017/2018
55  WARRIORS' PATH    316013  2019/2020
55  WARRIORS' PATH    297208  2018/2019
25  HIWASSEE RIVER    297012  2015/2016

In [25]:
vis_all.sort_values(by = ['Visitors'], ascending = [True]).head(10)

                       Park  Visitors       Year
1          BIG CYPRESS TREE       846  2016/2017
1          BIG CYPRESS TREE       892  2015/2016
1          BIG CYPRESS TREE      1346  2013/2014
1          BIG CYPRESS TREE      1426  2014/2015
1          BIG CYPRESS TREE      1690  2019/2020
27             JOHNSONVILLE      1977  2017/2018
1          BIG CYPRESS TREE      1986  2017/2018
27             JOHNSONVILLE      2198  2016/2017
1          BIG CYPRESS TREE      2238  2018/2019
9   CORDELL HULL BIRTHPLACE      2805  2018/2019

In [26]:
vis_all.to_csv(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\Data\vis_all.csv', index = False)

In [ ]:
#result.plot.barh( x = 'Park',figsize=(10,20))

Merge the dataframes together

In [ ]:
dataframes = [vis1920_y,vis1819_y,vis1718_y,vis1617_y,vis1516_y, vis1415_y, vis1314_y]

years_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Park'],
                                            how='outer'), dataframes)

In [ ]:
#years_merged.head()

Save the file for use in Tableau

In [ ]:
years_merged.to_csv(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\years_merged.csv', index = False)

Read in population data for Tennessee and clean

In [ ]:
county_pop_est = pd.read_excel('../Data/co-est2019-annres-47.xlsx',skiprows = 1, header=[2])
pd.set_option("display.max_rows", None, "display.max_columns", None)
county_pop_est = county_pop_est[:-5]
county_pop_est = county_pop_est.rename(columns={"Unnamed: 0": "Location"})
county_pop_est['VISITORS'] = pd.to_numeric(vis1415_c['VISITORS'], errors ='coerce').astype('Int64')

county_pop_est.info()

In [ ]:
cols = county_pop_est.columns.drop('Location')
county_pop_est[cols] = county_pop_est[cols].astype('Int64')

county_pop_est.info()

In [ ]:
county_pop_est["Location"] = county_pop_est["Location"] \
.apply(lambda x: x.replace(".", " "))\
.apply(lambda x: x.replace(", Tennessee", " "))
county_pop_est.head()

In [ ]:
county_pop_est.to_csv(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\county-pop-est.csv', index = False)

In [ ]:
# years_merged.plot.barh(x= 'Park',figsize=(10,20))

In [ ]:
# years_merged.set_index('Park')

In [ ]:
# df_merged_t = df_merged.T
# df_merged_t
# df_merged.set_index('Park').transpose()

In [ ]:
# filenames = ['../Data/Vis1920.xlsx',\
#              '../Data/Vis1819.xlsx',\
#              '../Data/Vis1718.xlsx',\
#              '../Data/Vis1617.xlsx',\
#              '../Data/Vis1516.xlsx',\
#             '../Data/Vis1819.xlsx']
# dataframes = pd.read_excel((f) for f in filenames)

In [ ]:
# from glob import glob
# filenames = glob('../Data/Vis1*.xlsx')
# dataframes = pd.read_excel(f) for f in filenames
#vis1718['VISITORS'] = pd.to_numeric(vis1718['VISITORS'], errors='coerce')
#vis1718 = vis1718.dropna(subset=['VISITORS'])
# appended_data = []
# for infile in glob.glob("*.xlsx"):
#     data = pandas.read_excel(infile)
#     # store DataFrame in list
#     appended_data.append(data)
# # see pd.concat documentation for more info
# appended_data = pd.concat(appended_data)
# # write DataFrame to an excel sheet 
# appended_data.to_excel('appended.xlsx')