In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
import numpy as np
from functools import reduce

Read in the data and evaluate what needs to be cleaned

In [2]:
vis1920_i = pd.read_excel('../Data/Vis1920.xlsx')

In [3]:
vis1920_i.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,ACTIVITIES>>,NaN,REST,INN ROOMS,NaN,NaN,CABINS,NaN,NaN,GROUPCAMPS/LODGING,...,TOTAL,CAMPSITES,NaN,NaN,MARINAS,NaN,NaN,NaN,PROGRAMMING,NaN
1,PARKS,VISITORS,GUESTS,AVAIL,SOLD,OCCUP,AVAIL,SOLD,OCCUP,GUESTS,...,GOLFERS,AVAIL,SOLD,OCCUP,AVAIL,SOLD,OCCUP,SWIMMING,HELD,ATTEND
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BICENTENNIAL CAPITOL MALL,39353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,3114
4,BIG CYPRESS TREE,1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

Remove the "Unnamed" header row and make rows at index 0 and 1 the headers.

In [4]:
vis1920= pd.read_excel('../Data/Vis1920.xlsx',skiprows = 1, header=[0,1], sheet_name = 0)
vis1819= pd.read_excel('../Data/Vis1819.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1718= pd.read_excel('../Data/Vis1718.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1617= pd.read_excel('../Data/Vis1617.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1516= pd.read_excel('../Data/Vis1516.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1415= pd.read_excel('../Data/Vis1415.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)
vis1314= pd.read_excel('../Data/Vis1314.xlsx',skiprows = 1, header=[0, 1], sheet_name = 0)

In [5]:
vis1920.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   (ACTIVITIES>>, PARKS)         58 non-null     object
 1   (ACTIVITIES>>, VISITORS)      57 non-null     float64
 2   (REST, GUESTS)                10 non-null     object
 3   (INN ROOMS, AVAIL)            7 non-null      object
 4   (INN ROOMS, SOLD)             8 non-null      float64
 5   (INN ROOMS, OCCUP)            6 non-null      object
 6   (CABINS, AVAIL)               22 non-null     float64
 7   (CABINS, SOLD)                23 non-null     float64
 8   (CABINS, OCCUP)               24 non-null     object
 9   (GROUPCAMPS/LODGING, GUESTS)  24 non-null     float64
 10  (GROUPCAMPS/LODGING, AVAIL)   24 non-null     float64
 11  (GROUPCAMPS/LODGING, SOLD)    24 non-null     float64
 12  (GROUPCAMPS/LODGING, OCCUP)   24 non-null     float64
 13  (TOTAL, GOLFERS)              10 non-null     float64
 14  (CAMPSITES, AVAIL)            38 non-null     float64
 15  (CAMPSITES, SOLD)             39 non-null     float64
 16  (CAMPSITES, OCCUP)            38 non-null     float64
 17  (MARINAS, AVAIL)              4 non-null      float64
 18  (MARINAS, SOLD)               5 non-null      float64
 19  (MARINAS, OCCUP)              4 non-null      float64
 20  (MARINAS, SWIMMING)           17 non-null     object
 21  (PROGRAMMING, HELD)           57 non-null     float64
 22  (PROGRAMMING, ATTEND)         57 non-null     float64
dtypes: float64(17), object(6)
memory usage: 10.5+ KB

In [6]:
vis1920t = vis1920[:-2]
vis1415t = vis1415[:-2]
vis1516t = vis1516[:-2]
vis1617t = vis1617[:-2]
vis1718t = vis1718[:-2]
vis1819t = vis1819[:-2]

vis1920.tail()

      ACTIVITIES>>              REST INN ROOMS                      CABINS  \
             PARKS   VISITORS GUESTS     AVAIL     SOLD     OCCUP    AVAIL
53    T. O. FULLER   100215.0    NaN       NaN      NaN       NaN      NaN
54      TIM'S FORD    95156.0    NaN       NaN      NaN       NaN    620.0
55  WARRIORS' PATH   316013.0    NaN       NaN      NaN       NaN      NaN
56         TOTALS:  4463838.0  44535     11166   4705.0  0.421368  11246.0
57         GUESTS:        NaN              NaN  11762.5       NaN      NaN

                      GROUPCAMPS/LODGING  ...    TOTAL CAMPSITES            \
       SOLD     OCCUP             GUESTS  ...  GOLFERS     AVAIL      SOLD
53      NaN       NaN                NaN  ...      NaN    1356.0     826.0
54    461.0  0.743548                NaN  ...   2270.0    4660.0    3295.0
55      NaN       NaN                NaN  ...   3259.0    4113.0    2572.0
56   8467.0   0.75289            28621.0  ...  21251.0   95520.0   49248.0
57  29634.5                          NaN  ...      NaN       NaN  172368.0

             MARINAS                             PROGRAMMING
       OCCUP   AVAIL     SOLD     OCCUP SWIMMING        HELD   ATTEND
53  0.609145     NaN      NaN       NaN      NaN         4.0     44.0
54  0.707082     NaN      NaN       NaN     3421        50.0    532.0
55  0.625334     NaN      NaN       NaN     3851       178.0   2371.0
56  0.515578  9113.0   8057.0  0.884122    47175      3178.0  98076.0
57       NaN     NaN  28199.5       NaN      NaN         NaN      NaN

[5 rows x 23 columns]

In [7]:
vis1415_f = vis1415t[vis1415t.columns.drop(list(vis1415t.filter(regex='SOLD')))]
vis1415_f = vis1415_f[vis1415_f.columns.drop(list(vis1415_f.filter(regex='OCCUP')))]
vis1415_f = vis1415_f[vis1415_f.columns.drop(list(vis1415_f.filter(regex='GUESTS')))]

#Renamed columns
vis1415_f.columns = vis1415_f.columns.droplevel(0)
vis1415_f.columns = ['Park','Visitors','Inn Rooms','Cabins','Lodging', 'Golfers','Campsites', 'Marinas', 'Swimming', 'Programming Held','Programming Attendance']

#add a year column
vis1415_f = vis1415_f.assign(Year='2014/2015')

vis1415_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Park                    56 non-null     object
 1   Visitors                56 non-null     object
 2   Inn Rooms               6 non-null      float64
 3   Cabins                  21 non-null     float64
 4   Lodging                 14 non-null     float64
 5   Golfers                 9 non-null      float64
 6   Campsites               35 non-null     float64
 7   Marinas                 2 non-null      float64
 8   Swimming                17 non-null     object
 9   Programming Held        56 non-null     float64
 10  Programming Attendance  56 non-null     float64
 11  Year                    56 non-null     object
dtypes: float64(8), object(4)
memory usage: 5.4+ KB

In [8]:
vis1516_f = vis1516t[vis1516.columns.drop(list(vis1516t.filter(regex='SOLD')))]
vis1516_f = vis1516_f[vis1516_f.columns.drop(list(vis1516_f.filter(regex='OCCUP')))]
vis1516_f = vis1516_f[vis1516_f.columns.drop(list(vis1516_f.filter(regex='GUESTS')))]

#Renamed columns
vis1516_f.columns = vis1516_f.columns.droplevel(0)
vis1516_f.columns = ['Park','Visitors','Inn Rooms','Cabins','Lodging', 'Golfers','Campsites', 'Marinas', 'Swimming', 'Programming Held','Programming Attendance']

#add a year column
vis1516_f = vis1516_f.assign(Year='2015/2016')

vis1516_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Park                    56 non-null     object
 1   Visitors                56 non-null     object
 2   Inn Rooms               6 non-null      float64
 3   Cabins                  21 non-null     float64
 4   Lodging                 20 non-null     float64
 5   Golfers                 9 non-null      float64
 6   Campsites               34 non-null     float64
 7   Marinas                 3 non-null      float64
 8   Swimming                16 non-null     float64
 9   Programming Held        56 non-null     float64
 10  Programming Attendance  56 non-null     float64
 11  Year                    56 non-null     object
dtypes: float64(9), object(3)
memory usage: 5.4+ KB

In [9]:
vis1617_f = vis1617t[vis1617t.columns.drop(list(vis1617t.filter(regex='SOLD')))]
vis1617_f = vis1617_f[vis1617_f.columns.drop(list(vis1617_f.filter(regex='OCCUP')))]
vis1617_f = vis1617_f[vis1617_f.columns.drop(list(vis1617_f.filter(regex='GUESTS')))]

#Renamed columns
vis1617_f.columns = vis1617_f.columns.droplevel(0)
vis1617_f.columns = ['Park','Visitors','Inn Rooms','Cabins','Lodging', 'Golfers','Campsites', 'Marinas', 'Swimming', 'Programming Held','Programming Attendance']

#add a year column
vis1617_f = vis1617_f.assign(Year='2016/2017')

vis1617_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Park                    56 non-null     object
 1   Visitors                56 non-null     object
 2   Inn Rooms               6 non-null      float64
 3   Cabins                  21 non-null     object
 4   Lodging                 22 non-null     float64
 5   Golfers                 9 non-null      object
 6   Campsites               37 non-null     float64
 7   Marinas                 3 non-null      float64
 8   Swimming                16 non-null     float64
 9   Programming Held        56 non-null     float64
 10  Programming Attendance  56 non-null     float64
 11  Year                    56 non-null     object
dtypes: float64(7), object(5)
memory usage: 5.4+ KB

In [10]:
vis1718_f = vis1718t[vis1718t.columns.drop(list(vis1718t.filter(regex='SOLD')))]
vis1718_f = vis1718_f[vis1718_f.columns.drop(list(vis1718_f.filter(regex='OCCUP')))]
vis1718_f = vis1718_f[vis1718_f.columns.drop(list(vis1718_f.filter(regex='GUESTS')))]

#Renamed columns
vis1718_f.columns = vis1718_f.columns.droplevel(0)
vis1718_f.columns = ['Park','Visitors','Inn Rooms','Cabins','Lodging', 'Golfers','Campsites', 'Marinas', 'Swimming', 'Programming Held','Programming Attendance']

#add a year column
vis1718_f = vis1718_f.assign(Year='2017/2018')

vis1718_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Park                    56 non-null     object
 1   Visitors                56 non-null     object
 2   Inn Rooms               6 non-null      float64
 3   Cabins                  21 non-null     object
 4   Lodging                 23 non-null     float64
 5   Golfers                 9 non-null      float64
 6   Campsites               37 non-null     float64
 7   Marinas                 3 non-null      float64
 8   Swimming                16 non-null     float64
 9   Programming Held        56 non-null     float64
 10  Programming Attendance  56 non-null     float64
 11  Year                    56 non-null     object
dtypes: float64(8), object(4)
memory usage: 5.4+ KB

In [11]:

vis1819_f = vis1819t[vis1819t.columns.drop(list(vis1819t.filter(regex='SOLD')))]
vis1819_f = vis1819_f[vis1819_f.columns.drop(list(vis1819_f.filter(regex='OCCUP')))]
vis1819_f = vis1819_f[vis1819_f.columns.drop(list(vis1819_f.filter(regex='GUESTS')))]

#Renamed columns
vis1819_f.columns = vis1819_f.columns.droplevel(0)
vis1819_f.columns = ['Park','Visitors','Inn Rooms','Cabins','Lodging', 'Golfers','Campsites', 'Marinas', 'Swimming', 'Programming Held','Programming Attendance']

#add a year column
vis1819_f = vis1819_f.assign(Year='2018/2019')

vis1819_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Park                    56 non-null     object
 1   Visitors                56 non-null     float64
 2   Inn Rooms               6 non-null      object
 3   Cabins                  21 non-null     float64
 4   Lodging                 23 non-null     float64
 5   Golfers                 9 non-null      float64
 6   Campsites               37 non-null     float64
 7   Marinas                 3 non-null      float64
 8   Swimming                16 non-null     float64
 9   Programming Held        56 non-null     float64
 10  Programming Attendance  56 non-null     float64
 11  Year                    56 non-null     object
dtypes: float64(9), object(3)
memory usage: 5.4+ KB

In [12]:
vis1920_f = vis1920t[vis1920t.columns.drop(list(vis1920t.filter(regex='SOLD')))]
vis1920_f = vis1920_f[vis1920_f.columns.drop(list(vis1920_f.filter(regex='OCCUP')))]
vis1920_f = vis1920_f[vis1920_f.columns.drop(list(vis1920_f.filter(regex='GUESTS')))]

#Renamed columns
vis1920_f.columns = vis1920_f.columns.droplevel(0)
vis1920_f.columns = ['Park','Visitors','Inn Rooms','Cabins','Lodging', 'Golfers','Campsites', 'Marinas', 'Swimming', 'Programming Held','Programming Attendance']

#add a year column
vis1920_f = vis1920_f.assign(Year='2019/2020')

vis1920_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Park                    56 non-null     object
 1   Visitors                56 non-null     float64
 2   Inn Rooms               6 non-null      object
 3   Cabins                  21 non-null     float64
 4   Lodging                 23 non-null     float64
 5   Golfers                 9 non-null      float64
 6   Campsites               37 non-null     float64
 7   Marinas                 3 non-null      float64
 8   Swimming                16 non-null     object
 9   Programming Held        56 non-null     float64
 10  Programming Attendance  56 non-null     float64
 11  Year                    56 non-null     object
dtypes: float64(8), object(4)
memory usage: 5.4+ KB

In [13]:
vis_1420 = pd.concat([vis1920_f,vis1819_f, vis1718_f,vis1617_f, vis1516_f, vis1415_f], axis=0)
vis_1420

,Park,Visitors,Inn Rooms,Cabins,Lodging,Golfers,Campsites,Marinas,Swimming,Programming Held,Programming Attendance,Year
0,BICENTENNIAL CAPITOL MALL,39353.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,3114.0,2019/2020
1,BIG CYPRESS TREE,1690.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2019/2020
2,BIG HILL POND,12680.0,NaN,NaN,NaN,NaN,961.0,NaN,NaN,5.0,182.0,2019/2020
3,BIG RIDGE,132976.0,NaN,604.0,31.0,NaN,1627.0,NaN,NaN,4.0,36.0,2019/2020
4,BLEDSOE CREEK,60416.0,NaN,NaN,62.0,NaN,1920.0,NaN,NaN,10.0,126.0,2019/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
51,STANDING STONE,65808,NaN,682.0,93.0,NaN,1085.0,NaN,3146,69.0,1138.0,2014/2015
52,SYCAMORE SHOALS,33449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,17315.0,2014/2015
53,T. O. FULLER,105175,NaN,NaN,NaN,NaN,1362.0,NaN,NaN,0.0,0.0,2014/2015
54,TIM'S FORD,137466,NaN,620.0,NaN,2646.0,4061.0,NaN,3970,20.0,190.0,2014/2015
55,WARRIORS' PATH,238133,NaN,NaN,NaN,3521.0,4149.0,NaN,3058,297.0,3881.0,2014/2015

In [14]:
vis1420_f =vis_1420.rename(columns={'Park':'PARK_NAME'})
vis1420_f

,PARK_NAME,Visitors,Inn Rooms,Cabins,Lodging,Golfers,Campsites,Marinas,Swimming,Programming Held,Programming Attendance,Year
0,BICENTENNIAL CAPITOL MALL,39353.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,3114.0,2019/2020
1,BIG CYPRESS TREE,1690.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2019/2020
2,BIG HILL POND,12680.0,NaN,NaN,NaN,NaN,961.0,NaN,NaN,5.0,182.0,2019/2020
3,BIG RIDGE,132976.0,NaN,604.0,31.0,NaN,1627.0,NaN,NaN,4.0,36.0,2019/2020
4,BLEDSOE CREEK,60416.0,NaN,NaN,62.0,NaN,1920.0,NaN,NaN,10.0,126.0,2019/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
51,STANDING STONE,65808,NaN,682.0,93.0,NaN,1085.0,NaN,3146,69.0,1138.0,2014/2015
52,SYCAMORE SHOALS,33449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,17315.0,2014/2015
53,T. O. FULLER,105175,NaN,NaN,NaN,NaN,1362.0,NaN,NaN,0.0,0.0,2014/2015
54,TIM'S FORD,137466,NaN,620.0,NaN,2646.0,4061.0,NaN,3970,20.0,190.0,2014/2015
55,WARRIORS' PATH,238133,NaN,NaN,NaN,3521.0,4149.0,NaN,3058,297.0,3881.0,2014/2015

In [15]:
vis_1420.to_csv(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\vis1420.csv', index = False)

In [37]:
parks = pd.read_csv('../data/TN_State_Parks_Boundaries.csv')
print(parks.shape)
parks.head(3)

(103, 11)

,OBJECTID,TSP_UID,PARK_NAME,SATELLITE,DESIG_1,MANAGE_AREA,DESIG_2,CALC_ACRES,Shape__Area,Shape__Length,GlobalID
0,1,TSP-0018,Bicentennial Capitol Mall State Park,NaN,State Park,3,NaN,20,8.630680e+05,5415.687119,1a84f3b0-2a2a-4ca5-9bfd-1c695f551699
1,2,TSP-0019,Big Cypress Tree State Park,Big Cypress Tree State Natural Area,State Park,2,Class I Scenic-Recreational State Natural Area,327,1.424815e+07,19348.216561,8bd7c078-305b-4248-8f19-21d4ce5779a2
2,3,TSP-0021,Big Hill Pond State Park,Davis Bridge Battlefield,State Park,1,NaN,841,3.663861e+07,54748.147737,f5662ed2-de08-4e8a-8d98-cb79e649fbce

In [79]:
parks_g = gpd.read_file('../data/TN_State_Parks_Boundaries.geojson')
print(parks_g.shape)
parks_g.info()

(103, 12)
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OBJECTID       103 non-null    int64
 1   TSP_UID        103 non-null    object
 2   PARK_NAME      103 non-null    object
 3   SATELLITE      55 non-null     object
 4   DESIG_1        103 non-null    object
 5   MANAGE_AREA    103 non-null    int64
 6   DESIG_2        44 non-null     object
 7   CALC_ACRES     103 non-null    int64
 8   Shape__Area    103 non-null    float64
 9   Shape__Length  103 non-null    float64
 10  GlobalID       103 non-null    object
 11  geometry       103 non-null    geometry
dtypes: float64(2), geometry(1), int64(3), object(6)
memory usage: 9.8+ KB

In [80]:
parks_d = parks_g.dissolve(by='PARK_NAME', aggfunc='sum')
parks_d.reset_index(level=0, inplace=True)
parks_d.head()

,PARK_NAME,geometry,OBJECTID,MANAGE_AREA,CALC_ACRES,Shape__Area,Shape__Length
0,Bicentennial Capitol Mall State Park,"POLYGON ((-86.78817 36.17300, -86.78816 36.173...",1,3,20,8.630680e+05,5415.687119
1,Big Cypress Tree State Park,"POLYGON ((-88.88449 36.20404, -88.88541 36.192...",2,2,327,1.424815e+07,19348.216561
2,Big Hill Pond State Park,"MULTIPOLYGON (((-88.80436 35.04828, -88.80467 ...",7,2,4979,2.169104e+08,144228.862508
3,Big Ridge State Park,"MULTIPOLYGON (((-83.93998 36.23503, -83.93931 ...",5,6,3863,1.682579e+08,224475.492048
4,Bledsoe Creek State Park,"POLYGON ((-86.34847 36.38163, -86.34879 36.378...",6,3,163,7.082792e+06,16116.075540

In [83]:
parks_d['PARK_NAME'] = parks_d['PARK_NAME'].str.upper()
parks_d

,PARK_NAME,geometry,OBJECTID,MANAGE_AREA,CALC_ACRES,Shape__Area,Shape__Length
0,BICENTENNIAL CAPITOL MALL STATE PARK,"POLYGON ((-86.78817 36.17300, -86.78816 36.173...",1,3,20,8.630680e+05,5.415687e+03
1,BIG CYPRESS TREE STATE PARK,"POLYGON ((-88.88449 36.20404, -88.88541 36.192...",2,2,327,1.424815e+07,1.934822e+04
2,BIG HILL POND STATE PARK,"MULTIPOLYGON (((-88.80436 35.04828, -88.80467 ...",7,2,4979,2.169104e+08,1.442289e+05
3,BIG RIDGE STATE PARK,"MULTIPOLYGON (((-83.93998 36.23503, -83.93931 ...",5,6,3863,1.682579e+08,2.244755e+05
4,BLEDSOE CREEK STATE PARK,"POLYGON ((-86.34847 36.38163, -86.34879 36.378...",6,3,163,7.082792e+06,1.611608e+04
5,BOOKER T. WASHINGTON STATE PARK,"MULTIPOLYGON (((-85.17145 35.11415, -85.17151 ...",7,4,358,1.557548e+07,4.617829e+04
6,BURGESS FALLS STATE PARK,"MULTIPOLYGON (((-85.60440 36.06501, -85.60429 ...",17,8,498,2.170348e+07,8.016494e+04
7,CEDARS OF LEBANON STATE PARK,"MULTIPOLYGON (((-86.32237 36.09478, -86.32263 ...",10,3,1340,5.837472e+07,5.762408e+04
8,CHICKASAW STATE PARK,"MULTIPOLYGON (((-88.87993 35.34339, -88.87986 ...",11,1,1356,5.907345e+07,4.618417e+04
9,CORDELL HULL BIRTHPLACE STATE PARK,"MULTIPOLYGON (((-85.18258 36.57985, -85.18245 ...",12,5,55,2.379830e+06,1.140932e+04
10,COVE LAKE STATE PARK,"MULTIPOLYGON (((-84.21376 36.29810, -84.21383 ...",13,5,555,2.417102e+07,1.051222e+05
11,CUMBERLAND MOUNTAIN STATE PARK,"MULTIPOLYGON (((-84.80908 35.88139, -84.80934 ...",29,10,1553,6.765234e+07,1.131555e+05
12,CUMMINS FALLS STATE PARK,"MULTIPOLYGON (((-85.56312 36.25065, -85.56282 ...",16,4,282,1.226755e+07,1.792098e+04
13,DAVID CROCKETT BIRTHPLACE STATE PARK,"MULTIPOLYGON (((-82.65245 36.20598, -82.65184 ...",17,6,98,4.270003e+06,2.545094e+04
14,DAVID CROCKETT STATE PARK,"POLYGON ((-87.36456 35.27909, -87.36410 35.279...",18,2,1298,5.655679e+07,5.002264e+04
15,DUNBAR CAVE STATE PARK,"MULTIPOLYGON (((-87.30119 36.56307, -87.30131 ...",19,2,144,6.275185e+06,1.708500e+04
16,EDGAR EVINS STATE PARK,"MULTIPOLYGON (((-85.82343 36.06119, -85.82337 ...",20,4,6311,2.749063e+08,4.516350e+05
17,FALL CREEK FALLS STATE PARK,"MULTIPOLYGON (((-85.38024 35.60699, -85.38370 ...",115,15,28332,1.234151e+09,7.911978e+05
18,FORT LOUDOUN STATE HISTORIC PARK,"MULTIPOLYGON (((-84.20763 35.60417, -84.20706 ...",53,10,915,3.987745e+07,5.820539e+04
19,FORT PILLOW STATE HISTORIC PARK,"MULTIPOLYGON (((-89.83395 35.64678, -89.83350 ...",28,1,1725,7.512514e+07,8.189416e+04
20,FROZEN HEAD STATE PARK,"MULTIPOLYGON (((-84.40560 36.06465, -84.40540 ...",90,15,22954,9.998424e+08,3.525823e+05
21,HARPETH RIVER STATE PARK,"MULTIPOLYGON (((-86.98290 36.06459, -86.98367 ...",284,16,519,2.254753e+07,7.337706e+04
22,HARRISON BAY STATE PARK,"MULTIPOLYGON (((-85.11963 35.14153, -85.11964 ...",40,4,1754,7.642553e+07,2.794200e+05
23,HENRY HORTON STATE PARK,"POLYGON ((-86.69213 35.60243, -86.69202 35.602...",41,3,1524,6.639928e+07,6.523340e+04
24,HIWASSEE/OCOEE SCENIC RIVER STATE PARK,"MULTIPOLYGON (((-84.73404 35.01017, -84.73406 ...",129,12,107,4.674607e+06,2.229214e+04
25,INDIAN MOUNTAIN STATE PARK,"POLYGON ((-84.13542 36.58723, -84.13428 36.586...",45,5,208,9.071276e+06,2.336453e+04
26,JOHNSONVILLE STATE HISTORIC PARK,"MULTIPOLYGON (((-87.84070 36.00177, -87.83847 ...",93,4,1291,5.625612e+07,9.311089e+04
27,JUSTIN P. WILSON CUMBERLAND TRAIL STATE PARK,"MULTIPOLYGON (((-85.27957 35.19171, -85.27891 ...",357,28,32679,1.423437e+09,2.032030e+06
28,LAMAR ALEXANDER ROCKY FORK STATE PARK,"MULTIPOLYGON (((-82.54004 36.04989, -82.53964 ...",55,6,2164,9.425306e+07,6.209075e+04
29,LONG HUNTER STATE PARK,"MULTIPOLYGON (((-86.23633 36.16803, -86.23637 ...",171,9,2921,1.272233e+08,2.329022e+05
30,MEEMAN-SHELBY FOREST STATE PARK,"POLYGON ((-90.04332 35.32972, -90.04365 35.327...",119,2,11991,5.223119e+08,3.574623e+05
31,MONTGOMERY BELL STATE PARK,"MULTIPOLYGON (((-87.25855 36.08273, -87.25945 ...",123,4,3774,1.644043e+08,1.876251e+05
32,MOUSETAIL LANDING STATE PARK,"MULTIPOLYGON (((-88.01904 35.64933, -88.01882 ...",63,2,1306,5.688726e+07,6.927585e+04
33,NATCHEZ TRACE STATE PARK,"MULTIPOLYGON (((-88.28693 35.74198, -88.28097 ...",64,2,8268,3.601615e+08,1.862212e+05
34,NATHAN BEDFORD FORREST STATE PARK,"MULTIPOLYGON (((-88.00091 36.05792, -88.00089 ...",131,4,2870,1.250173e+08,8.473658e+04
35,NORRIS DAM STATE PARK,"MULTIPOLYGON (((-84.06246 36.24580, -84.06222 ...",67,6,2737,1.192297e+08,1.183494e+05
36,OLD STONE FORT STATE ARCHAEOLOGICAL PARK,"POLYGON ((-86.10319 35.49314, -86.10036 35.491...",68,3,835,3.639159e+07,4.570073e+04
37,PANTHER CREEK STATE PARK,"MULTIPOLYGON (((-83.39831 36.22748, -83.39814 ...",69,6,1589,6.922963e+07,9.580929e+04
38,PARIS LANDING STATE PARK,"MULTIPOLYGON (((-88.08058 36.43080, -88.08059 ...",70,1,469,2.041469e+07,8.270643e+04
39,PICKETT CCC MEMORIAL STATE PARK,"MULTIPOLYGON (((-84.87105 36.36393, -84.87022 ...",216,15,3845,1.674892e+08,2.238567e+05
40,PICKWICK LANDING STATE PARK,"MULTIPOLYGON (((-88.23803 35.04571, -88.23803 ...",149,2,1598,6.960896e+07,1.551319e+05
41,PINSON MOUNDS STATE ARCHAEOLOGICAL PARK,"MULTIPOLYGON (((-88.67397 35.50580, -88.67697 ...",153,2,1524,6.639099e+07,5.474749e+04
42,PORT ROYAL STATE HISTORIC PARK,"MULTIPOLYGON (((-87.14212 36.55263, -87.14212 ...",78,2,29,1.259651e+06,1.016985e+04
43,RADNOR LAKE STATE PARK,"MULTIPOLYGON (((-86.79590 36.07286, -86.79590 ...",79,3,1360,5.922581e+07,8.209464e+04
44,RED CLAY STATE HISTORIC PARK,"POLYGON ((-84.93810 34.99441, -84.93832 34.993...",80,4,256,1.116357e+07,1.518358e+04
45,REELFOOT LAKE STATE PARK,"MULTIPOLYGON (((-89.33862 36.38272, -89.33786 ...",81,1,12884,5.612314e+08,5.017826e+05
46,ROAN MOUNTAIN STATE PARK,"POLYGON ((-82.11000 36.18635, -82.10895 36.184...",82,6,2099,9.145053e+07,5.824268e+04
47,ROCK ISLAND STATE PARK,"POLYGON ((-85.65682 35.81878, -85.65591 35.818...",83,4,911,3.969043e+07,5.515900e+04
48,SEVEN ISLANDS STATE BIRDING PARK,"MULTIPOLYGON (((-83.69527 35.94610, -83.69535 ...",84,6,416,1.813123e+07,3.712026e+04
49,SGT. ALVIN C. YORK STATE HISTORIC PARK,"MULTIPOLYGON (((-84.96483 36.54217, -84.96401 ...",171,10,346,1.506849e+07,3.681531e+04
50,SOUTH CUMBERLAND STATE PARK,"MULTIPOLYGON (((-85.90220 35.11498, -85.89673 ...",915,30,30169,1.314261e+09,7.256435e+05
51,STANDING STONE STATE PARK,"POLYGON ((-85.40566 36.48457, -85.40576 36.483...",97,5,1058,4.608680e+07,1.027329e+05
52,SYCAMORE SHOALS STATE HISTORIC PARK,"MULTIPOLYGON (((-82.26810 36.32675, -82.26939 ...",297,18,66,2.917928e+06,1.229524e+04
53,T.O. FULLER STATE PARK,"MULTIPOLYGON (((-90.11297 35.07003, -90.10803 ...",101,1,751,3.271627e+07,5.063877e+04
54,TIMS FORD STATE PARK,"MULTIPOLYGON (((-86.12157 35.20054, -86.12151 ...",102,3,2962,1.290149e+08,4.805038e+05
55,WARRIORS' PATH STATE PARK,"MULTIPOLYGON (((-82.48557 36.50041, -82.48555 ...",103,6,986,4.296659e+07,9.245383e+04

In [84]:
parks_d["PARK_NAME"] = parks_d["PARK_NAME"] \
.apply(lambda x: x.replace("STATE PARK", " "))\
# .apply(lambda x: x.replace(", Tennessee", " "))
parks_d.head()

,PARK_NAME,geometry,OBJECTID,MANAGE_AREA,CALC_ACRES,Shape__Area,Shape__Length
0,BICENTENNIAL CAPITOL MALL,"POLYGON ((-86.78817 36.17300, -86.78816 36.173...",1,3,20,8.630680e+05,5415.687119
1,BIG CYPRESS TREE,"POLYGON ((-88.88449 36.20404, -88.88541 36.192...",2,2,327,1.424815e+07,19348.216561
2,BIG HILL POND,"MULTIPOLYGON (((-88.80436 35.04828, -88.80467 ...",7,2,4979,2.169104e+08,144228.862508
3,BIG RIDGE,"MULTIPOLYGON (((-83.93998 36.23503, -83.93931 ...",5,6,3863,1.682579e+08,224475.492048
4,BLEDSOE CREEK,"POLYGON ((-86.34847 36.38163, -86.34879 36.378...",6,3,163,7.082792e+06,16116.075540

In [77]:
years_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Park       57 non-null     object
 1   2019/2020  56 non-null     Int64
 2   2018/2019  56 non-null     Int64
 3   2017/2018  55 non-null     Int64
 4   2016/2017  55 non-null     Int64
 5   2015/2016  55 non-null     Int64
 6   2014/2015  54 non-null     Int64
 7   2013/2014  54 non-null     Int64
dtypes: Int64(7), object(1)
memory usage: 4.4+ KB

In [85]:
parks_d.PARK_NAME = [c.lstrip() for c in parks_d.PARK_NAME]
years_merged.Park = [c.lstrip() for c in years_merged.Park]

parks_d.PARK_NAME = [c.rstrip() for c in parks_d.PARK_NAME]
years_merged.Park = [c.rstrip() for c in years_merged.Park]

In [87]:
joined_gdf = parks_d.merge(years_merged,left_on='PARK_NAME', right_on='Park',)
joined_gdf
joined_gdf.to_file(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\joined_gdf.geojson', index = False, driver="GeoJSON")

In [42]:
years_merged.to_csv(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\years_merged.csv', index = False)

In [44]:
parks_d.to_file(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\parks_d.geojson', index = False, driver = "GeoJSON")

In [88]:
pd.merge(parks_d, vis1420_f, left_on="PARK_NAME", right_on ="Park")

KeyError: 'Park'

Old Code-

Multi-index header works. Now I need to trim the data frame. The data set includes a total row which would throw off my plots so that needs to be trimmed. My initial review will only be for overall visitor totals for 13/14-19/20. Once I see which parks have the most/least attendance I will review how much of a role lodging and marina access play in the visitation numbers. Then compare the park attendance trends to Tennessee's population change for the same time period.

In [20]:
#Trimmed dataframe
vis1920_c = vis1920[['ACTIVITIES>>']]
vis1920_c = vis1920_c[:-2]
#Used droplevel to clean my header 
#df.columns = df.columns.droplevel()
vis1920_c.columns = vis1920_c.columns.droplevel()
#Updated Visitor datatype from float to int
vis1920_c['VISITORS'] = pd.to_numeric(vis1920_c['VISITORS'], errors ='coerce').astype('Int64')
#vis1920_c
#Sorted values 
# #df.sort_values(by=['col1'])
vis1920_s = vis1920_c.sort_values(['VISITORS'])
#Renamed columns
vis1920_y =vis1920_s.rename(columns={'PARKS':'Park','VISITORS':'2019/2020'})
#Considered adding a year column
#vis1920_y = vis1920_y.assign(Year='2019/2020')
vis1920_y

                         Park  2019/2020
1            BIG CYPRESS TREE       1690
9     CORDELL HULL BIRTHPLACE       3000
27               JOHNSONVILLE       3914
47                 ROCKY FORK       4207
40              PINSON MOUNDS       7742
49              SEVEN ISLANDS       8250
12          CUMBERLAND TRAILS      11064
2               BIG HILL POND      12680
21                FROZEN HEAD      12987
34                 NORRIS DAM      15879
19               FORT LOUDOUN      18108
5        BOOKER T. WASHINGTON      19950
43                   RED CLAY      20688
6               BURGESS FALLS      20782
31          MOUSETAIL LANDING      26086
23               HARRISON BAY      27101
8                   CHICKASAW      30653
41                 PORT ROYAL      31608
52            SYCAMORE SHOALS      32875
35             OLD STONE FORT      36128
20                FORT PILLOW      38183
0   BICENTENNIAL CAPITOL MALL      39353
48     SERGEANT ALVIN C. YORK      40505
26            INDIAN MOUNTAIN      44175
17                EDGAR EVINS      45904
50          SOUTH CUMBERLAND       46222
14  DAVID CROCKETT BIRTHPLACE      46782
51             STANDING STONE      54109
10                  COVE LAKE      57626
4               BLEDSOE CREEK      60416
15            DAVID CROCKETT       64582
38                    PICKETT      65822
16                DUNBAR CAVE      66272
46                ROCK ISLAND      66779
13              CUMMINS FALLS      70090
32              NATCHEZ TRACE      74391
29       MEEMAN-SHELBY FOREST      74650
36              PANTHER CREEK      81669
54                 TIM'S FORD      95156
22       HARPETH SCENIC RIVER      96916
53               T. O. FULLER     100215
42                RADNOR LAKE     109994
11        CUMBERLAND MOUNTAIN     112150
30            MONTGOMERY BELL     114602
24               HENRY HORTON     114780
45              ROAN MOUNTAIN     131240
3                   BIG RIDGE     132976
7           CEDARS OF LEBANON     136981
33     NATHAN BEDFORD FORREST     147907
18           FALL CREEK FALLS     151443
39           PICKWICK LANDING     152141
28                LONG HUNTER     155944
37              PARIS LANDING     161001
44              REELFOOT LAKE     166014
55             WARRIORS' PATH     316013
25             HIWASSEE RIVER     685443

Plot 2019/2020 to review the changes then repeat for the remaining files.

In [21]:
#DataFrame.plot.bar(x=None, y=None, **kwargs)[source]
#vis1920_y.plot.barh( x = 'Park',figsize=(10,20))

Repeat dataframe editting methods.

In [22]:
vis1819_c = vis1819[['ACTIVITIES>>']]
vis1819_c = vis1819_c[:-2]
vis1819_c.columns = vis1819_c.columns.droplevel()
vis1819_c['VISITORS'] = pd.to_numeric(vis1819_c['VISITORS'], errors ='coerce').astype('Int64')
vis1819_s = vis1819_c.sort_values(by=['VISITORS'])
vis1819_y =vis1819_s.rename(columns={'PARKS':'Park','VISITORS':'2018/2019'})
#vis1819_y = vis1819_y.assign(Year='2018/2019')
#vis1819_y

In [23]:
#vis1819_y.plot.barh( x = 'Park',figsize=(10,20))

In [24]:
merged = pd.merge(vis1920_y, vis1819_y, on="Park")
#merged

In [ ]:
# merged.plot.barh( x= 'Park', figsize=(10,10))

In [25]:
vis1718_c = vis1718[['ACTIVITIES>>']]
vis1718_c = vis1718_c[:-2]
vis1718_c.columns = vis1718_c.columns.droplevel()
vis1718_c['VISITORS'] = pd.to_numeric(vis1718_c['VISITORS'], errors ='coerce').astype('Int64')
vis1718_s = vis1718_c.sort_values(by=['VISITORS'])
vis1718_y = vis1718_s.rename(columns={'PARKS':'Park','VISITORS':'2017/2018'})
#vis1718_y = vis1718_y.assign(Year='2017/2018')
# vis1718_y

In [26]:
vis1617_c = vis1617[['ACTIVITIES>>']]
vis1617_c = vis1617_c[:-2]
vis1617_c.columns = vis1617_c.columns.droplevel()
vis1617_c['VISITORS'] = pd.to_numeric(vis1617_c['VISITORS'], errors ='coerce').astype('Int64')
vis1617_s = vis1617_c.sort_values(by=['VISITORS'])
vis1617_y = vis1617_s.rename(columns={'PARKS':'Park','VISITORS':'2016/2017'})
#vis1617_y = vis1617_y.assign(Year='2016/2017')
#vis1617_y

In [27]:
vis1516_c = vis1516[['ACTIVITIES>>']]
vis1516_c = vis1516_c[:-2]
vis1516_c.columns = vis1516_c.columns.droplevel()
vis1516_c['VISITORS'] = pd.to_numeric(vis1516_c['VISITORS'], errors ='coerce').astype('Int64')
vis1516_s = vis1516_c.sort_values(by=['VISITORS'])
vis1516_y = vis1516_s.rename(columns={'PARKS':'Park','VISITORS':'2015/2016'})
#vis1516_y = vis1516_y.assign(Year = '2015/2016')
# vis1516_y

In [28]:
vis1415_c = vis1415[['ACTIVITIES>>']]
vis1415_c = vis1415_c[:-2]
vis1415_c.columns = vis1415_c.columns.droplevel()
vis1415_c['VISITORS'] = pd.to_numeric(vis1415_c['VISITORS'], errors ='coerce').astype('Int64')
vis1415_s = vis1415_c.sort_values(by=['VISITORS'])
vis1415_y =vis1415_s.rename(columns={'PARKS':'Park','VISITORS':'2014/2015'})
#vis1415_y = vis1415_y.assign(Year = '2014/2015')
# vis1415_y

In [29]:
vis1314_c = vis1314[['ACTIVITIES>>']]
vis1314_c = vis1314_c[:-2]
vis1314_c.columns = vis1314_c.columns.droplevel()
vis1314_c['VISITORS'] = pd.to_numeric(vis1314_c['VISITORS'], errors ='coerce').astype('Int64')
#vis1314_c = vis1314_c.astype({'VISITORS': 'int32'})
vis1314_s = vis1314_c.sort_values(by=['VISITORS'])
vis1314_y =vis1314_s.rename(columns={'PARKS':'Park','VISITORS':'2013/2014'})
#vis1314_y = vis1314_y.assign(Year = '2013/2014')
# vis1314_y

I attempted to merge, append, and concat the frames together manually. I think a for loop with glob could have read-in, editted the files and put them in one data frame but the manual approach worked just to keep the project moving.

In [30]:
#result = vis1920_y.append(vis1819_y, vis1718_y,vis1617_y, vis1516_y, vis1415_y, vis1314_y)
vis_all = pd.concat([vis1920_y,vis1819_y, vis1718_y,vis1617_y, vis1516_y, vis1415_y, vis1314_y], axis=0)
vis_all

,Park,2019/2020,2018/2019,2017/2018,2016/2017,2015/2016,2014/2015,2013/2014
1,BIG CYPRESS TREE,1690,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,CORDELL HULL BIRTHPLACE,3000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
27,JOHNSONVILLE,3914,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
47,ROCKY FORK,4207,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
40,PINSON MOUNDS,7742,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...
18,FALL CREEK FALLS,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,166763
32,NATCHEZ TRACE,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,180085
25,HIWASSEE RIVER,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,205293
53,WARRIORS' PATH,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,209694
37,PARIS LANDING,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,263290

In [31]:
vis_all.sort_values(by = ['Visitors'], ascending = [False]).head(10)

KeyError: 'Visitors'

In [ ]:
vis_all.sort_values(by = ['Visitors'], ascending = [True]).head(10)

In [ ]:
vis_all.to_csv(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\Data\vis_all.csv', index = False)

In [ ]:
#result.plot.barh( x = 'Park',figsize=(10,20))

Merge the dataframes together

In [40]:
dataframes = [vis1920_y,vis1819_y,vis1718_y,vis1617_y,vis1516_y, vis1415_y, vis1314_y]

years_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Park'],
                                            how='outer'), dataframes)

In [ ]:
#years_merged.head()

Save the file for use in Tableau

In [ ]:
years_merged.to_csv(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\years_merged.csv', index = False)

Read in population data for Tennessee and clean

In [32]:
county_pop_est = pd.read_excel('../Data/co-est2019-annres-47.xlsx',skiprows = 1, header=[2])
pd.set_option("display.max_rows", None, "display.max_columns", None)
county_pop_est = county_pop_est[:-5]
county_pop_est = county_pop_est.rename(columns={"Unnamed: 0": "Location"})
county_pop_est['VISITORS'] = pd.to_numeric(vis1415_c['VISITORS'], errors ='coerce').astype('Int64')

county_pop_est.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Location        96 non-null     object
 1   Census          96 non-null     float64
 2   Estimates Base  96 non-null     float64
 3   2010            96 non-null     float64
 4   2011            96 non-null     float64
 5   2012            96 non-null     float64
 6   2013            96 non-null     float64
 7   2014            96 non-null     float64
 8   2015            96 non-null     float64
 9   2016            96 non-null     float64
 10  2017            96 non-null     float64
 11  2018            96 non-null     float64
 12  2019            96 non-null     float64
 13  VISITORS        54 non-null     Int64
dtypes: Int64(1), float64(12), object(1)
memory usage: 10.7+ KB

In [33]:
cols = county_pop_est.columns.drop('Location')
county_pop_est[cols] = county_pop_est[cols].astype('Int64')

county_pop_est.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Location        96 non-null     object
 1   Census          96 non-null     Int64
 2   Estimates Base  96 non-null     Int64
 3   2010            96 non-null     Int64
 4   2011            96 non-null     Int64
 5   2012            96 non-null     Int64
 6   2013            96 non-null     Int64
 7   2014            96 non-null     Int64
 8   2015            96 non-null     Int64
 9   2016            96 non-null     Int64
 10  2017            96 non-null     Int64
 11  2018            96 non-null     Int64
 12  2019            96 non-null     Int64
 13  VISITORS        54 non-null     Int64
dtypes: Int64(13), object(1)
memory usage: 11.8+ KB

In [34]:
county_pop_est["Location"] = county_pop_est["Location"] \
.apply(lambda x: x.replace(".", " "))\
.apply(lambda x: x.replace(", Tennessee", " "))
county_pop_est.head()

,Location,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,VISITORS
0,Tennessee,6346105,6346276,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174,38621
1,Anderson County,75129,75082,75098,75209,75225,75299,75157,75456,75528,76056,76287,76978,1426
2,Bedford County,45058,45057,45078,45247,45254,45565,46251,46948,47442,48211,49146,49713,11992
3,Benton County,16489,16491,16511,16529,16445,16360,16197,16220,16082,15993,16246,16160,115394
4,Bledsoe County,12876,12874,12884,12992,12926,13910,14501,14601,14738,14895,14883,15064,28172

In [ ]:
county_pop_est.to_csv(r'C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\TN-State-Parks-and-Population\county-pop-est.csv', index = False)

In [ ]:
# years_merged.plot.barh(x= 'Park',figsize=(10,20))

In [ ]:
# years_merged.set_index('Park')

In [ ]:
# df_merged_t = df_merged.T
# df_merged_t
# df_merged.set_index('Park').transpose()

In [ ]:
# filenames = ['../Data/Vis1920.xlsx',\
#              '../Data/Vis1819.xlsx',\
#              '../Data/Vis1718.xlsx',\
#              '../Data/Vis1617.xlsx',\
#              '../Data/Vis1516.xlsx',\
#             '../Data/Vis1819.xlsx']
# dataframes = pd.read_excel((f) for f in filenames)

In [ ]:
# from glob import glob
# filenames = glob('../Data/Vis1*.xlsx')
# dataframes = pd.read_excel(f) for f in filenames
#vis1718['VISITORS'] = pd.to_numeric(vis1718['VISITORS'], errors='coerce')
#vis1718 = vis1718.dropna(subset=['VISITORS'])
# appended_data = []
# for infile in glob.glob("*.xlsx"):
#     data = pandas.read_excel(infile)
#     # store DataFrame in list
#     appended_data.append(data)
# # see pd.concat documentation for more info
# appended_data = pd.concat(appended_data)
# # write DataFrame to an excel sheet 
# appended_data.to_excel('appended.xlsx')